<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new student</title>
</head>
<body>
<h1>Create new student</h1>
<p>
    <a href="http://localhost:8080/">Student list</a>
</p>
<form th:action="@{/create-student}" action="#" th:object="${student}" method="post">
        <!-- Lưu ý đường dẫn th:action phải đúng chuẩn: "@{/...}"-->

    <table>
        <tr>
            <td>First Name: </td>
            <td> <input type="text" th:field="*{firstName}"></td>
            <td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First Name Error</td>

        </tr>
        <tr>
            <td>Last Name: </td>
            <td><input type="text" th:field="*{lastName}"></td>
            <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name Error</td>
        </tr>
        <tr>
            <td>Id Student: </td>
            <td><input type="text" th:field="*{idStudent}"></td>
            <td th:if="${#fields.hasErrors('idStudent')}" th:errors="*{idStudent}">idStudent Error</td>

        </tr>
        <tr>
            <td>Email: </td>
            <td><input type="text" th:field="*{email}"></td>
            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</td>

        </tr>
        <tr>
            <td>Phone: </td>
            <td><input type="text" th:field="*{phone}"></td>
            <td th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Phone Error</td>

        </tr>
        <tr>
            <td>City: </td>
            <td><input type="text" th:field="*{city}"></td>
            <td th:if="${#fields.hasErrors('city')}" th:errors="*{city}">City Error</td>

        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create"></td>
        </tr>
    </table>
    </form>
</body>
</html>