<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete student</title>
</head>
<body>
<h1>Delete student</h1>
<h2>Are you sure?</h2>
<p>
    <a href="http://localhost:8080/">Student list</a>
</p>
<form th:action="@{/delete-student}" th:object="${student}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>First Name</td>
            <td><input type="text" th:field="*{firstName}"></td>
        </tr>
        <tr>
            <td>Last Name: </td>
            <td><input type="text" th:field="*{lastName}"></td>
        </tr>
        <tr>
            <td>Id Student: </td>
            <td><input type="text" th:field="*{idStudent}"></td>
        </tr>
        <tr>
            <td>Email: </td>
            <td><input type="text" th:field="*{email}"></td>
        </tr>
        <tr>
            <td>Phone: </td>
            <td><input type="text" th:field="*{phone}"></td>
        </tr>
        <tr>
            <td>City: </td>
            <td><input type="text" th:field="*{city}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete"></td>
        </tr>
    </table>
</form>
</body>
</html>