<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find Students</title>
</head>
<body>
<h1>Find student by first name</h1>

<table border="2">
    <tr>
        <td>Id</td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Id Student</td>
        <td>Email</td>
        <td>Phone</td>
        <td>City</td>

    </tr>
    <tr th:each="student : ${students}">
        <td th:text="${student.getId()}"></td>
        <td th:text="${student.getFirstName()}"></td>
        <td th:text="${student.getLastName()}"></td>
        <td th:text="${student.getIdStudent()}"></td>
        <td th:text="${student.getEmail()}"></td>
        <td th:text="${student.getPhone()}"></td>
        <td th:text="${student.getCity()}"></td>

    </tr>
</table>
</body>
<footer>&copy; Mai Trinh</footer>
</html>